<html>
    <head>
        <title>Survey Results</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
        integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
        crossorigin="anonymous">
        <style>
            #wrapper {
                background-color: lightgrey;
                height: 650px;
                padding-top: 15px;
            }
            #main {
                background-color: rgb(142, 214, 171);
                padding: 20px;
                padding-bottom: 25px;
                padding-left: 40px;
                width: 530px;
                margin: auto;
                border-radius: 10px;
                word-wrap: break-word;
            }
            #main p {
                font-size: 20px;
            }
            h2 {
                text-align: center;
                text-decoration: underline;
                padding-bottom: 20px;
            }
            a {
                color: blue;
                font-size: 20px;
            }
        </style>
    </head>
    <body>
        <div id = "wrapper">
            <div id = "main">
                <h2>Submitted Info</h2>
            
                <p><b>Name:</b> <%= name %></p>
                <p><b>Dojo Location:</b> <%= location %></p>
                <p><b>Favorite Language:</b> <%= language %></p>
                <p><b>Comment:</b> <%= comment %></p>
                <br>
                <a href = "/">Back to survey</a>
            </div>
        </div>
    </body>
</html>